body {
  margin: 0;
  font-family: "Hanken Grotesk", Arial, sans-serif;
  background-color: #262626;
  color: #d9d9d9;
  padding: 50px;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  text-align: center;
  width: 352px;
  height: 66px;
}

header h1 {
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  color: #f9f4da;
}

header p {
  font-weight: 500;
  font-size: 14px;
  color: #8e8e8e;
}

.game-status {
  width: 352px;
  height: 59px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block: 30px;
}

.game-status.won {
  background-color: #10a95b;
}
.game-status.lost {
  background-color: #ba2a2a;
}

.game-status.farewell {
  background-color: #7a5ea7;
  font-weight: 400;
  font-style: Italic;
  font-size: 16px;
  color: #f9f4da;
}

.game-status h2 {
  font-weight: 500;
  font-size: 20px;
  color: #f9f4da;
  margin: 0;
}

.game-status p {
  font-weight: 500;
  font-size: 16px;
  color: #f9f4da;
  margin: 0;
}

.languages {
  max-width: 350px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  margin: 0 auto;
}

.chip-lang {
  position: relative;
  font-size: 14px;
  padding: 4px 6px;
  border-radius: 3px;
  font-weight: 500;
}

/* Dimmed overlay with skull on "lost" languages */
span.chip-lang.lost::before {
  content: "💀";
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 0.85rem;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.word {
  display: flex;
  justify-content: center;
  margin-top: 35px;
  gap: 2px;
  width: 334px;
  height: 40px;
}

.word span.missing {
  color: #f06262;
}

.word span {
  width: 28px;
  height: 23px;
  background-color: #323232;
  color: #f9f4da;
  padding: 6px;
  border-bottom: 1px solid #f9f4da;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}

.keyboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 40px;
  max-width: 450px;
  margin-bottom: 36px;
}

.keyboard button {
  background-color: #fcba29;
  width: 40px;
  height: 40px;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  color: #262626;
  font-size: 16px;
}

.keyboard button:disabled {
  cursor: not-allowed;
  opacity: 0.4;
}

.keyboard button:hover {
  opacity: 0.9;
}

.keyboard button.correct {
  background-color: #59e391;
}

.keyboard button.wrong {
  background-color: #f06262;
}

.new-game {
  background-color: #11b5e5;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  width: 225px;
  height: 40px;
  padding: 6px 12px;
  display: block;
  margin-inline: auto;
  cursor: pointer;
}
